#current {
    display:inline-block;
        padding:20px;
        margin-top: 5px;
        margin-left: 20px;
}

button {
    /* display:inline-block; */
    margin-top: 5px;
    margin-bottom: 100px;
    /* min-width: 50px; */
    /* width: 296px; */
}

#city-search {
    margin-left: 20px;
    margin-right: 20px ;
}

#card {
    border: none;
}